
<!DOCTYPE html>
<html>
    <head>
        <title>
            Absen Kegiatan
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body class="bg-dark">
     
        <div class="container pt-5 text-white">
            <div class="row">
                <div class="col">
                    <h1>Absen Kegiatan</h1>
                    <form action="" method="post" class="mt-4 kegiatan-form">
                        {{formKegiatan}}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success mt-2" value="Tambahkan"> 
                    </form>
                </div>
            </div>
        </div>

        <div class="container pt-5">
            <div class="row ">
                {% for i in absen_kegiatan %}
                <div class="col-md-4">
                        <div class="card bg-secondary mt-5" style="width: 18rem;">
                            <div class="card-body bg-secondary">
                                <h5 class="card-title text-center">{{i.0.nama_kegiatan}}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                            {% for j in i.1 %}
                            <li class="list-group-item bg-secondary">{{j.nama_peserta}}</li>
                            {% endfor %}
                            </ul>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal" onclick="tambahPeserta('{{i.0.nama_kegiatan}}', '{{i.0.id}}')">Tambahkan Peserta</button>
                       </div>
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="container-fluid pb-5">
            <div class="row">
                <div class="modal bg-dark" tabindex="-1" role="dialog" id="modal">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Tambahkan Peserta</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            Nama Kegiatan : <span id="namaKegiatan"></span>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id_kegiatan" id="idKegiatan" value="">
                                {{formPeserta}}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
                          <button type="submit" class="btn btn-success">Daftar Yuk</button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      

    <script>
        function tambahPeserta(namaKegiatan, idKegiatan){
            document.getElementById('namaKegiatan').innerHTML=namaKegiatan;
            document.getElementById('idKegiatan').value=idKegiatan;
    }
    
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>


